@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}
header{
  display: grid;
  grid-template-columns: 150px auto;
  

}
nav{
  background-color: #cc8b86;
  display: flex;
  justify-content: space-around;
  opacity: .6;
  transform: scale(1.1);
}
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}
nav a:hover {
  background-color: white;
  color: #7d4f50;
}
#logo_link{
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
.logo {
  width: 150px;
}
.content {
  display: inline-block;
}
  

.book_covers {
  float: right;
}
h1 {
  font-size: 30px;
  font-family: "Roboto Condensed, Sans Serif";
  color: #814B14;
}
p {
  font-family: "Roboto Flex, Open Sans";
  color: #cc8b86;
}
button {
  font-size: 25px;
  background-color: #cc8b86 ;
  color: white;
  border: none;
}
.right-img {
  float: right;
  margin: 0 auto;
}
.left-img{
  float: left;
}
.right {
  display: inline-block;
  margin: 10px;
  padding: 150px;
  font-size: 25px;
  position: relative;
}
.left {
  display: inline-block;
  margin: 10px;
  padding: 150px;
  font-size: 25px;
  
}
footer {
  background-color: #cc8b86;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: white;
  text-decoration: none;
}
footer p {
  font-size: 1.2em;
  color: white;
}
footer p a:hover {
  color: #7d4f50;
  text-decoration: underline;
}
footer, .social img {
  padding-top: 25px;
}




form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }